<!DOCTYPE html>
<html>
<%- include('./partials/header', {title: 'Home Page'}); %>

<body>
  <% include ./partials/navbar %>

  <div class="container">
   <h1>Weather</h1>

   <% if (temp > 70) { %>
        <p>It is warm!</p>
   <%} else { %>
        <p>It is cool!</p>
   <% } %>
    
   <% if (isRaining) { %>
        <p>It is raining!</p>
   <%} else { %>
        <p>It is sunny!</p>
   <% } %>

  </div>
  
  <% include ./partials/scripts %>
</body>

</html>